* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none; 
}

.container {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
}

@import "./Layout/Header/Header.scss";
@import "./Layout/Footer/Footer.scss";
@import "./pages/Home/Home.scss";
